<!DOCTYPE html>
<html>
<head lang="en">
    <%- include('../partials/head', { title: 'Admin Panel' }) %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>

        var currentState = {};

        function loadData(){
            $.post('get', {}, function (data, status, jqXHR) {
                if(status !== 'success') {
                    $('#message').text("Could not communicate with the server. ("+status+")");
                }else if(data.hasOwnProperty('error')){
                    $('#message').text(data.error);
                }else {
                    currentState = data;
                    $('.settings-view').trigger('updateState');
                }
            }, 'json');
        }

        function clearSelection(){
            $('#menu li, .settings-view').removeClass('active');
        }
        function selectMenu(sel){
            $pane = $('#option-'+sel+', #settings-'+sel);
            if ($pane.length == 0) sel = 'announcement';
            window.location.hash = '#' + sel;
            clearSelection();
            $pane.addClass('active');
        }
        $(document).ready(function() {
            $('#logout-btn').click(function (e){
                $.post('logout', {}, function (data, status, jqXHR) {
                    if (status !== 'success') {
                        $('#message').text("Could not communicate with the server. (" + status + ")");
                    } else if (data.hasOwnProperty('error')) {
                        $('#message').text(data.error);
                    } else {
                        location.reload();
                    }
                }, 'json');
            });
            $('#save-btn').click(function (e){
                $.when($('.settings-view').trigger('saveState')).done( function() {
                    $.post('set', {newState:currentState}, function (data, status, jqXHR) {
                        if (status !== 'success') {
                            $('#message').text("Could not communicate with the server. (" + status + ")");
                        } else if (data.hasOwnProperty('error')) {
                            $('#message').text(data.error);
                        } else {
                            $('#message').text('Settings Saved.')
                        }
                    }, 'json');
                });
            });

            $('#menu li').click(function (e) {
                selectMenu($(e.target).attr('id').match(/[a-z]+$/));
            });
            selectMenu(window.location.hash.substr(1));
            $(window).on('hashchange', function(){
                selectMenu(window.location.hash.substr(1));
            });
        });
    </script>
</head>
<body class="screen_fill admin">
<div id="box-left">
    <header>NHS TV</header>
    <ul id="menu">
        <li id="option-announcement">Announcements</li>
        <li id="option-important">Important Dates</li>
        <li id="option-main">Main Area</li>
        <li id="option-twitter">Twitter Settings</li>
        <li id="option-user">User Settings</li>
        <li id="option-backup">Reset</li>
    </ul>
</div>
<div id="box-right">
    <div id="box-content">
        <%- include('../partials/settings-announcement', {}) %>
        <%- include('../partials/settings-important', {}) %>
        <%- include('../partials/settings-main', {}) %>
        <%- include('../partials/settings-twitter', {}) %>
        <%- include('../partials/settings-user', {}) %>
        <%- include('../partials/settings-backup', {}) %>
    </div>
    <div id="box-submit">
        <input type="button" id="save-btn" value="Save">
        <div id="message"></div>
        <input type="button" id="logout-btn" value="Logout">
    </div>
</div>
<script>
    loadData();
</script>
</body>
</html>